*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.game{
    width: 1500px;
    height: 350px;
    border: 1px solid black;
    margin: auto;
}


#character{
    width: 100px;
    height: 100px;
    background-image: url(https://st.depositphotos.com/1008522/1840/v/950/depositphotos_18400609-stock-illustration-cute-tyrannosaurus-rex-dinosaur-t.jpg);
    background-size: 100px 100px;
    position: relative;
    top: 150px;


}
.animate{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#block{
    width: 50px;
    height: 50px;
    background-image: url(https://i.pinimg.com/originals/83/2f/00/832f0028dc0019299d37579f7c82571c.png);
    background-size: 50px 50px;
    position: relative;
    top: 100px;
    left: 500px;
    animation: block 3s infinite linear;

}
@keyframes block{
    0%{left: 1500px}
    100%{left: -20px}
}
p{
    text-align: center;
}
